/* FONTS  macondo swash caps*/
/* macondo-swash-caps-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Macondo Swash Caps';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/macondo-swash-caps-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.body {
    padding: 0;
    display: block;
    margin: 0 auto;
    border: solid rgba(216, 219, 74, 0.09);
    background: #F4F4ED;
}

/* HEADER */
header {
    margin: 0 auto;
    text-align: center;
}

/*HEADER NAVIGATION */
.navigation {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    min-width: 80%;
    height: 9.375rem;
    padding-bottom: 0.0625rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #ECD821 0%, rgba(236, 216, 33, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Logo */
.logo {
    width: 5%;
    height: 9.25rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

/* MENU LIST */
.groupNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    color: #000000;
}

.burger {
    display: none;
}

a {
    text-decoration: none;
}

ul>a {
    margin: 0 15px;
    color: #000;
    font-family: Macondo Swash Caps;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* BURGER MENU */
.burger-menu {
    display: none;
    cursor: pointer;
}

/* END OF BURGER MENU */

/* TITLE */
h1 {
    margin: 1.7rem 0;

}

.title {
    margin: 20px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Macondo Swash Caps;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* END OF HEADER */

/* MAIN */
.kurseContainer {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 15px;
}

/* H1 ELEMENT */
.welcome {
    margin: 0;
    text-align: center;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Macondo Swash Caps;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
}

/* P ELEMENT */
.text {
    color: #210503;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Macondo Swash Caps;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    padding: 10px;
}



/* TABLE from 780px */
table {
    width: 90%;
    border-collapse: collapse;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 5px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* END OF THE TABLE */

/* CARDS */
.tableContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.city {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.0625rem;
    height: 20.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 2px solid #C7BABA;
    background: #ECECEC;
    box-shadow: 10px 10px 4px 0px rgba(177, 174, 142, 0.50);
}

#pockau {
    background: url(../images/Kurse/pockau.png), rgb(255, 252, 252) 50% / cover no-repeat;
}

#leipzig {
    background: url(../images/Kurse/leipzig.png), rgb(255, 252, 252) 50% / cover no-repeat;
}

#borna {
    background: url(../images/Kurse/borna.png), rgb(255, 252, 252) 50% / cover no-repeat;
}

#geithain {
    background: url(../images/Kurse/geithain.png), rgb(255, 252, 252) 50% / cover no-repeat;
}

#bitterfeld {
    background: url(../images/Kurse/bitterfeld.png), rgb(255, 252, 252) 50% / cover no-repeat;
}


/* TEXTS */
.day {
    margin: 0;
    color: #F8D109;
    -webkit-text-stroke: 1.5px rgba(19, 3, 101, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Macondo Swash Caps;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.city {
    margin: 10px 0;
    color: #210503;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke: 1.5px rgba(19, 3, 101, 0.8);
    font-family: Macondo Swash Caps;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.time {
    margin: 0;
    color: #FAC712;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke: 1.5px rgba(88, 28, 4, 0.8);
    font-family: Macondo Swash Caps;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.typeYoga {
    margin: 0;
    color: #0d0dd6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke: 1.5px rgba(35, 5, 169, 0.8);
    font-family: Macondo Swash Caps;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adressText {
    margin: 10px 0;
    text-align: center;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Macondo Swash Caps;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
}

.city>.adressText>a {
    /* Styles for non-visited links */
    color: rgb(115, 5, 249);
    text-shadow: 5px 5px 4px rgba(115, 5, 249);
    -webkit-text-stroke: 1.5px rgba(4, 1, 14, 0.8);
}

.city>.adressText>a:visited {
    /* Styles for visited links */
    color: rgb(115, 5, 249);
    text-shadow: 5px 5px 4px rgba(115, 5, 249);
    -webkit-text-stroke: 1.5px rgba(4, 1, 14, 0.8);
}

.city>.adressText>a:hover,
.city>.adressText>a:visited:hover {
    /* Styles for both non-visited and visited links when hovered */
    color: rgb(252, 0, 0);
    text-shadow: 5px 7px 41px rgba(4, 9, 100, 0.5);
    -webkit-text-stroke: 1.5px rgba(14, 1, 1, 0.8);
}




/* END OF THE BACK */
/* END OF CARDS */

/* BUTTONS */
.btnZumKurs {
    margin: 0;
    width: 13rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #0E40F1;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.50);
}

.btnText {
    color: #f3f3ed;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke: 1.5px rgba(241, 241, 245, 0.1);
    font-family: Macondo Swash Caps;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER */
.footer {
    display: flex;
    min-width: 80%;
    height: 9.375rem;
    padding-bottom: 0.0625rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.3125rem;
    background: linear-gradient(180deg, rgba(236, 216, 33, 0.00) 3.79%, #ECD821 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.social_media {
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.social_media>a>img {
    margin: 15px;
}

.infos {
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.up {
    color: #000;
    font-family: Macondo Swash Caps;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
}

/* MEDIA QUERY for SMALL SCREENS BELOW 768px */
@media (max-width: 768px) {
    .burger-menu {
        display: inline-flex;
        height: 9.375rem;
        padding: 0rem 2.625rem 0rem 9rem;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
        flex-shrink: 0;
    }

    .title {
        font-size: 4rem;
    }

    .groupNav {
        display: none;
    }

    /* MAIN */
    .kurseContainer {
        width: 90%;
    }

    .burger {
        display: none;
    }

    .burger.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.50);
        width: 100%;
        padding-bottom: 25px;
        z-index: 25;
        background-color: #F6F4DA;
    }

    /* STYLE OF THE BUTTONS */
    .navMenubtn {
        z-index: 50;
        margin: 5px 0;
        width: 90%;
        height: 4.375rem;
        border-radius: 0.9375rem;
        border: 4px solid rgba(243, 150, 11, 0.75);
        background: #F8D109;
        box-shadow: 5px 7px 4px 2px rgba(251, 137, 4, 0.53);
    }

    /* TEXT OF THE BUTTONS */
    .navMenubtnText {
        -webkit-text-stroke: 1.5px rgba(19, 3, 101, 0.8);
        color: #F6F4DA;
        text-shadow: 0px 4px 4px #000;
        font-family: Macondo Swash Caps;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* TEXT OF THE WORD MENU */
    .menuText {
        color: #000;
        text-shadow: 0px 4px 4px #000;
        font-family: Macondo Swash Caps;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* BURGER-MENU WRAPPING AS A COLUMN*/
    .navigation {
        flex-wrap: wrap;
    }

    /* TABLE */
    table {
        display: none;
    }

    /* END OF MAIN */

    /* FOOTER */
    .footer {
        flex-direction: column;

    }

    .social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .social_media>a>img {
        margin: 2.5px;
    }

}

/* MEDIA QUERY for SMALL SCREENS BELOW 375px */
@media (max-width: 375px) {
    .logo {
        display: none;
    }

    .title {
        font-size: 4rem;
    }

    .burger-menu {
        padding: 0;
    }

    /* MAIN */
    .title {
        margin: 0;
        font-size: 3.5rem;
    }

    .kurseContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    /* FOTTER */
    .footer {
        margin-top: 6rem;
    }
}

/* MEDIA QUERY for SMALL SCREENS BELOW 280px GALAXY FOLD*/
@media (max-width: 375px) {

    /* HEADER */
    .title {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    /* BUTTONS OF BURGER MENU */
    .navMenubtnText {
        font-size: 2.5rem;
    }

    /* MAIN */
    /* CONTANT CONTAINER */
    .kurseContainer {
        margin-bottom: 20px;
    }

    /* H1 ELEMENT */
    .welcome {
        font-size: 2rem;
        margin: 0;
    }

    /* IMPRESSUM AND TO THE TOP TEXT */
    .infos {
        display: flex;
        flex-direction: column;
    }

}